@media screen and (max-width:374px){ 

    .nav__header {

        display: flex;
        flex-basis: 100%;
        background-color: lightgray;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px 50px 50px 20px;
        flex-wrap: wrap;
    
    }

    .nav__header_link1, .nav__header_link2, 
    .nav__header_link3, .nav__header_link4, .nav__header_link5, .copyright{

        display: flex;
        flex-basis: 100%;
        font-size: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px 0 10px 0;
        flex-wrap: wrap;

    }

    .featureContainer{

        display: flex;
        flex-basis: 100%;
        background-color: lightgray;
        padding: 0 50px 50px 50px;
        justify-content: space-around;
        justify-content: center;
        flex-direction: row;
        height: 700px;
        flex-wrap: wrap;

    }

    .nav__header_logo{

        display: flex;
        flex-basis: 100%;
        font-size: 50px;
        justify-content: center;

    }

    .nav__feature_intro{

        display: flex;
        flex-direction: column;
        flex-basis: 30%;
        font-size: 18px;
        padding-left: 10%;
        justify-content: flex-start;

    }

    .nav__feature_slider{

        display: flex;
        background-color: gray;
        flex-basis: 53%;
        align-items: center;
        justify-content: center;
        height: 500px;

    }

    .circle__item{

        border-radius: 20px;
        height: 10px;
        width: 15px;
        background-color: gray;
        margin: 10px;
        flex-basis: 2%;

    }

    .body__services1, .body__services2, .body__services3, 
    .body__services4, .body__services5, .body__services6{

        display: flex;
        height: 250px;
        width: 100px;
        background-color: gray;
        flex-basis: 27%;
        margin: 10px;
        justify-content: center;
        align-items: center;
        font-size: 20px;

    
    }


}